@import "variables";
@import 'vendor/include-media';
@import "general";

#wp-mail-smtp-header {
	border-top: 3px solid $orange;
	padding: $content-padding;

	img {
		display: block;
		margin: 0;
		max-width: 242px;

		@include media("<=tablet") {
			max-width: 200px;
		}
	}
}

#wp-mail-smtp {
	margin: 0;

	.wp-mail-smtp-page-title {
		background-color: #fff;
		margin: 0 0 20px 0;
		padding: 15px $content-padding;
		border-bottom: 1px solid $border-color;
		border-top: 1px solid $border-color;

		a {
			color: $grey;
			margin-right: $content-padding;
			text-decoration: none;
			font-size: 125%;

			&.active {
				border-bottom: 1px solid $orange;
			}
		}
	}

	.wp-mail-smtp-page {
		padding: 0 $content-padding;

		h1, h2 {
			font-weight: bold;
			border-bottom: 1px solid $border-color;
			margin-bottom: $content-padding;
			margin-top: 0;
			padding-bottom: 10px;
			padding-top: 0;
		}

		$bg: #F1F1F1;
		$fg: #BDBDBD;
		$borderWidth: 1px;

		.wp-mail-smtp-inline-radios {
			border: solid $borderWidth $fg;
			display: inline-block;
			border-radius: 10px;
			overflow: hidden;

			input[type=radio] {
				position: absolute;
				visibility: hidden;
				display: none;
			}

			label {
				color: #929292;
				display: inline-block;
				cursor: pointer;
				font-weight: bold;
				padding: 5px 20px;
				margin-right: -0.25em;
			}

			input[type=radio]:checked + label{
				color: #000;
				background: $fg;
			}

			label + input[type=radio] + label {
				border-left: solid $borderWidth $fg;
			}

			label:last-child {
				margin-right: 0;
			}
		}

		.wp-mail-smtp-mailers {
			.wp-mail-smtp-mailer {
				display: inline-block;
				width: 140px;
				margin-right: 10px;

				&:last-child {
					margin-right: 0;
				}

				.wp-mail-smtp-mailer-image {
					background: #fff;
					text-align: center;
					border: 1px solid #E5E5E5;
					border-radius: $border-radius;
					height: 76px;
					position: relative;
					margin-bottom: 10px;

					img {
						display: block;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
					}

					&.active {
						border: 2px solid $orange;
					}
				}
				.wp-mail-smtp-mailer-text{}
			}
		}

		.wp-mail-smtp-mailer-options {

			.wp-mail-smtp-mailer-options-mail {
				p {
					background: #E5E5E5;
					border-radius: $border-radius;
					color: #929292;
					margin-bottom: 20px;
					padding: 15px;

				}
			}

		}

		.wp-mail-smtp-submit {
			border-top: 1px solid $border-color;
			padding-top: 20px;

			.button-primary {
				background: $orange;
				border: none;
				box-shadow: 0 1px 0 darken($orange, 10%);
				text-shadow: 0 -1px 1px darken($orange, 10%), 1px 0 1px darken($orange, 10%), 0 1px 1px darken($orange, 10%), -1px 0 1px darken($orange, 10%);

				&:active, &:hover, &:focus {
					outline: none;
					background: darken($orange, 10%);
				}
			}
		}
	}
}
