@import "variables";
@import 'vendor/include-media';

@import "general";

#wp-mail-smtp-header {
	border-top: 3px solid $orange;
	padding: $content-padding;

	img {
		display: block;
		margin: 0;
		max-width: 235px;

		@include media("<=tablet") {
			max-width: 200px;
		}
	}
}

#wp-mail-smtp {
	margin: 0;

	.notice {
		margin-left: $content-padding !important;
		margin-right: $content-padding !important;
	}

	.wp-mail-smtp-page-title {
		background-color: #fff;
		margin: 0 0 20px 0;
		padding: 15px $content-padding;
		border-bottom: 1px solid $border-color;
		border-top: 1px solid $border-color;

		a {
			color: $grey;
			margin-right: $content-padding;
			text-decoration: none;
			font-size: 125%;

			&.active {
				border-bottom: 1px solid $orange;
			}
		}
	}

	.wp-mail-smtp-page {
		padding: 0 $content-padding;

		h1 {
			font-weight: bold;
			border-bottom: 1px solid $border-color;
			margin-bottom: $content-padding;
			margin-top: 0;
			padding-bottom: 10px;
			padding-top: 0;
		}
	}
}
