// Styling tweaks for jQuery-confirm JS alert library.
body.toplevel_page_wp-mail-smtp {

	div.jconfirm {

		*,
		*::before,
		*::after {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}

		div.jconfirm-box-container {

			div.jconfirm-box {
				border-radius: 0;
				box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

				div.jconfirm-closeIcon {
					color: rgba(0,0,0,0.4);
					top: 8px;
					right: 8px;

					&:hover {
						color: rgba(0,0,0,0.80);
					}
				}
			}
		}

		div.jconfirm-box {

			div.jconfirm-title-c {
				margin: 0 0 26px 0 !important;
				padding: 0 !important;

				.jconfirm-icon-c {
					margin: 0 !important;
					color: #c4c4c4 !important;
					-webkit-transition: none !important;
					transition: none !important;
					-webkit-transform: none !important;
					-ms-transform: none !important;
					transform: none !important;
					font-size: 45px !important;

					i:empty { display: none }
					svg { height: 35px }
				}

				.jconfirm-title {
					display: block;
					color: #444;
				}

				.jconfirm-icon-c + span.jconfirm-title {
					margin-top: 20px !important;
				}
			}

			div.jconfirm-content-pane {
				margin-bottom: 0;
				display: block;

				.jconfirm-content {
					overflow: inherit;
				}
			}

			div.jconfirm-content {
				font-size: 16px;
				color: #777;
				line-height: 1.4;

				&.lite-upgrade {
					p {
						font-size: 18px;
						padding: 0 20px;
					}
				}

				p {
					margin: 0 0 20px;
					font-size: 16px;
					line-height: 1.5;

					&:last-of-type {
						margin: 0;
					}

					&.large {
						font-size: 18px;
					}

					&.small {
						font-size: 14px;
					}
				}

				.already-purchased {
					font-size: 12px;
					color: #ccc;
					text-decoration: none;

					&:hover {
						text-decoration: underline;
					}
				}
			}

			div.jconfirm-buttons {

				.already-purchased {
					display: block;
					font-size: 12px;
					color: #aaa;
					text-decoration: none;
					padding-top: 20px;

					&:hover {
						color: #999;
						text-decoration: underline;
					}
				}
			}

			.discount-note {
				text-align: center;
				margin: 30px 0 0;

				p {
					background-color: #faffac;
					margin: 0 -30px;
					padding: 24px 60px 20px;
					font-size: 15px;
					color: #4d4d4d;
					position: relative;

					&:after {
						content: url(../images/font-awesome/check-circle-solid-green.svg);
						width: 40px;
						height: 40px;
						background-color: #fff;
						border-radius: 50%;
						padding: 5px 6px;
						position: absolute;
						top: -20px;;
						right: 50%;
						margin-right: -18px;
					}
				}

				span {
					font-weight: 700;
					color: #3abc01;
				}

				a {
					color: #aaa;
					display: block;
					margin-top: 12px;
				}
			}

			input[type=text] {
				display: block;
				width: 99%;
				border: 1px solid #d6d6d6;
				padding: 10px;
				box-shadow: none;
				margin: 20px auto 0 auto;
			}

			button.btn-confirm {
				background-color: $orange;
				color: #fff;
				outline: none;

				&:hover {
					background-color: $orange_dark;
					border-color: $orange_dark;
				}
			}

			button,
			button.btn-default {
				color: #666;
			}

			button.btn-block {
				display: block;
				text-align: center;
				width: 100%;
				margin: 0 0 10px 0 !important;
			}

			button.btn-normal-case {
				text-transform: none !important;
			}

			.error {
				display: none;
				color: red;
			}

			.wpforms-error {
				border: 1px solid #ebccd1 !important;
			}
		}
	}
}
