$orange: #FF982D;
$orange_dark: darken($orange, 10%);
$grey: #A9A9A9;
$green: #2a9b39;
$red: #a00;

$content-padding: 20px;
$padding-default: 30px;

$border-color: #E5E6E6;
$border-radius: 4px;
$border: 1px solid $border-color;

$breakpoints: (
	'xs-phone': 320px,
	'phone': 600px,
	'ipad': 768px,
	'tablet': 782px,
	'desktop': 960px,
);
