#health-check-accordion-block-wp_mail_smtp_email_domain_check {
 & > p:first-child {
	 margin-top: 0;
 }
}

#wp-mail-smtp-domain-check-details {
	h2 {
		color: #2c3338;
		font-weight: 600;
		font-size: 13px;
		margin: 0 0 15px;
	}

	.wp-mail-smtp-domain-check-details-check-list {
		&-item {
			padding: 10px 0 0;
			border-top: 1px solid #E4E4E4;
			display: flex;

			&:last-child {
				border-bottom: 1px solid #E4E4E4;
			}

			&-icon {
				width: 18px;
				height: 16px;
				margin-right: 10px;
			}

			&-content {
				h3 {
					text-transform: uppercase;
					font-weight: 500;
					font-size: 14px;
					line-height: 17px;
					margin: 0 0 4px 0;
					color: #444;
				}

				p {
					margin: 0 0 10px 0;
					color: #777;
				}
			}
		}
	}
}
