@import "include-media";
@import "variables";
@import "general";
@import "confirm";
@import "education";
@import "loader";

// Screen options are hidden on load, then made visible with JS, to
// prevent it from "jumping".
#screen-meta-links,
#screen-meta {
	display: none;
}

#wp-mail-smtp-header-temp {
	position: absolute;
	margin: 0;
	top: -1px;
	left: 20px;
	right: 20px;
	z-index: 99;
}

#wp-mail-smtp-header {
	border-top: 3px solid $orange;
	padding: $content-padding;

	img {
		display: block;
		margin: 0;
		max-width: 242px;

		@include media("<=tablet") {
			max-width: 200px;
		}
	}
}

#wp-mail-smtp {
	margin: 0;

	.wp-mail-smtp-hide {
		display: none;
	}

	.wp-mail-smtp-page-title {
		height: 58px;
		background-color: #fff;
		font-size: 14px;
		margin: 0 0 20px 0;
		padding: 0 $content-padding;

		a.tab {
			border-bottom: 2px solid #fff;
			box-shadow: none;
			color: #666;
			display: inline-block;
			margin-right: 30px;
			padding: 20px 0 18px 0;
			text-decoration: none;

			&.active {
				border-bottom: 2px solid $orange;
			}

			&:hover {
				border-color: #999;
			}
		}

		a.action {
			padding: 5px;
			border: 0;
			min-height: auto;
			color: #fff;
			margin: -10px 0 0 20px;
		}

		.page-title {
			background-color: #fff;
			display: inline-block;
			font-size: 23px;
			margin: 0;
			padding: 20px 20px 20px 0;
		}
	}

	.wp-mail-smtp-page-content {
		padding: 0 $content-padding;

		*,
		*::before,
		*::after {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}

		.wp-mail-smtp-clear {
			&:before {
				content: " ";
				display: table;
			}
			&:after {
				clear: both;
				content: " ";
				display: table;
			}
		}

		// Setting rows, eg field row.
		.wp-mail-smtp-setting-row {
			border-bottom: 1px solid #e4e4e4;
			padding: 30px 0;
			font-size: 14px;
			line-height: 1.3;

			&:first-of-type {
				padding-top: 10px !important;
			}

			@include media("<tablet") {
				padding: 20px 0;
			}

			&.inactive {
				display: none;
			}

			.wp-mail-smtp-setting-mid-row-sep {
				background: #e4e4e4;
				height: 1px;
				border: 0;
				margin: 15px 0;
			}

			// Section heading.
			&.section-heading {
				padding: 20px 0;

				&.no-desc {
					h2,
					h4 {
						margin: 0;
					}
				}

				.wp-mail-smtp-setting-field {
					margin: 0;
					max-width: 1005px;
				}
			}

			// Checkbox settings field.
			&.wp-mail-smtp-setting-row-checkbox {

				input[type=checkbox] {
					float: left;
					margin: 1px 0 0 0;
				}

				input[type=checkbox] + label {
					margin: 0 0 0 8px;
					vertical-align: baseline;
				}

				.desc {
					margin: 0 0 0 30px;
				}

				input[type=checkbox] + label + .desc {
					margin: 8px 0 0 0;
				}
			}

			// Text based settings field.
			&.wp-mail-smtp-setting-row-text,
			&.wp-mail-smtp-setting-row-password,
			&.wp-mail-smtp-setting-row-number,
			&.wp-mail-smtp-setting-row-email {

				.wp-mail-smtp-setting-label {
					padding-top: 8px;
				}
			}

			// Select settings field.
			&.wp-mail-smtp-setting-row-select {

				.wp-mail-smtp-setting-label {
					padding-top: 8px;
				}
			}

			// Radio settings field.
			&.wp-mail-smtp-setting-row-radio {

				.wp-mail-smtp-setting-field {

					input[type=radio] {
						margin: -3px 10px 0 0;
					}

					label {
						margin-right: 30px;
						display: inline-block;
					}
				}

			}

			// Radio settings field.
			&.wp-mail-smtp-setting-row-checkbox-toggle {

				.wp-mail-smtp-setting-field {

					label {
						vertical-align: middle;
						display: inline-block;
					}

					input[type=checkbox] {
						position: absolute;
						top: auto;
						overflow: hidden;
						clip: rect(1px, 1px, 1px, 1px);
						width: 1px;
						height: 1px;
						white-space: nowrap;

						&:checked + .wp-mail-smtp-setting-toggle-switch {
							background-color: #46B450;

							&:before {
								-webkit-transform: translateX(16px);
								-ms-transform: translateX(16px);
								transform: translateX(16px);
							}
						}

						&:disabled {
							&:checked:hover + .wp-mail-smtp-setting-toggle-switch,
							&:not(:checked):hover + .wp-mail-smtp-setting-toggle-switch {
								box-shadow: none;
							}

							&:not(:checked):hover + .wp-mail-smtp-setting-toggle-switch {
								background-color: #ddd;
							}

							& + .wp-mail-smtp-setting-toggle-switch {
								background-color: #ddd;
								cursor: default;
							}

							&:checked + .wp-mail-smtp-setting-toggle-switch {
								background-color: lighten(#46B450, 25);
								cursor: default;
							}
						}

						&:checked + .wp-mail-smtp-setting-toggle-switch + .wp-mail-smtp-setting-toggle-checked-label {
							display: inline-block;
						}

						&:checked + .wp-mail-smtp-setting-toggle-switch + .wp-mail-smtp-setting-toggle-checked-label + .wp-mail-smtp-setting-toggle-unchecked-label {
							display: none;
						}

						&:disabled + .wp-mail-smtp-setting-toggle-switch + .wp-mail-smtp-setting-toggle-checked-label,
						&:disabled + .wp-mail-smtp-setting-toggle-switch + .wp-mail-smtp-setting-toggle-unchecked-label {
							color: lighten(#444, 40);
						}

						&:checked:hover,
						&:checked:focus {
							& + .wp-mail-smtp-setting-toggle-switch {
								box-shadow: 0 0 0 1px #fff, 0 0 0 3px #46B450;
							}
						}

						&:not(:checked):hover,
						&:not(:checked):focus {
							& + .wp-mail-smtp-setting-toggle-switch {
								background-color: #999;
								box-shadow: 0 0 0 1px #fff, 0 0 0 3px #999;
							}
						}
					}

					.wp-mail-smtp-setting-toggle-unchecked-label,
					.wp-mail-smtp-setting-toggle-checked-label {
						text-transform: uppercase;
						font-weight: 400;
						color: #777;
						font-size: 13px;
					}

					.wp-mail-smtp-setting-toggle-checked-label {
						display: none;
					}

					.wp-mail-smtp-setting-toggle-switch {
						position: relative;
						cursor: pointer;
						background-color: #ccc;
						border-radius: 15px;
						-webkit-transition: all 0.2s ease-in-out;
						-moz-transition:    all 0.2s ease-in-out;
						-ms-transition:     all 0.2s ease-in-out;
						transition:         all 0.2s ease-in-out;
						vertical-align: middle;
						display: inline-block;
						margin: 0 5px 0 0;
						width: 36px;
						height: 20px;

						&:before {
							position: absolute;
							content: "";
							height: 16px;
							width: 16px;
							left: 2px;
							top: 2px;
							background-color: #fff;
							border-radius: 50%;
							-webkit-transition: all 0.2s ease-in-out;
							-moz-transition:    all 0.2s ease-in-out;
							-ms-transition:     all 0.2s ease-in-out;
							transition:         all 0.2s ease-in-out;
						}
					}
				}
			}

			// Mailer image radio settings field.
			&.wp-mail-smtp-setting-row-mailer {
				padding-bottom: 20px;

				.wp-mail-smtp-mailers {

					.wp-mail-smtp-mailer {
						display: inline-block;
						width: 140px;
						margin-right: 12px;
						margin-bottom: 12px;
						position: relative;

						.wp-mail-smtp-mailer-image {
							background: #fff;
							text-align: center;
							border: 2px solid #E5E5E5;
							border-radius: $border-radius;
							cursor: pointer;
							height: 76px;
							position: relative;
							margin-bottom: 10px;
							-webkit-transition: all 0.2s ease-in-out;
							-moz-transition: all 0.2s ease-in-out;
							-ms-transition: all 0.2s ease-in-out;
							transition: all 0.2s ease-in-out;

							&.is-recommended {
								background-image: url(../images/recommended.svg);
								background-repeat: no-repeat;
								background-size: 60%;
								background-position: top right -2px;
							}

							img {
								max-width: 90%;
								max-height: 40px;
								display: block;
								position: relative;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
								opacity: 0.6;
								-webkit-transition: all 0.2s ease-in-out;
								-moz-transition: all 0.2s ease-in-out;
								-ms-transition: all 0.2s ease-in-out;
								transition: all 0.2s ease-in-out;
							}
						}

						&.wp-mail-smtp-mailer-smtp .wp-mail-smtp-mailer-image img {
							max-height: 30px
						}

						&.active {
							.wp-mail-smtp-mailer-image {
								border-color: $orange;

								img {
									opacity: 1;
								}
							}
						}

						&:hover {
							.wp-mail-smtp-mailer-image {
								border-color: #ccc;

								img {
									opacity: 1;
								}
							}
						}
					}
				}
			}

			// General elements.
			h2, h4 {
				color: #444;
				font-size: 20px;
				font-weight: 700;
				margin: 0 0 6px 0;
			}

			h2 {
				margin-bottom: 15px;
			}

			h3 {
				color: #444;
				font-size: 24px;
				font-weight: 600;
				margin: 0 0 20px 0;
			}

			p {
				margin: 12px 0 0;
				font-size: 14px;
				line-height: 1.5em;

				&:first-of-type {
					margin: 8px 0 0;
				}

				&.desc {
					font-style: italic;
					color: #777;
				}
				&.buttonned {
					margin-top: 30px;
				}

				&.inline-notice {
					margin: 5px 0 15px;
					box-sizing: border-box;
					background: #fff;
					border-left: 4px solid transparent;
					box-shadow: 0 1px 1px 0 rgba( 0, 0, 0, 0.1 );

					&.inline-error {
						border-color: #dc3232;
						margin-bottom: 5px;
						padding: 10px;
					}
					&.inline-edu-notice {
						border-color: #809EB0;
						line-height: 1.5em;
						padding: 10px;
					}

					a.wp-mail-smtp-mailer-notice-dismiss {
						float: right;
						color: #999DA1;
						margin: 0 0 10px 10px;
						text-decoration: none;

						&:hover {
							color: darken(#999DA1, 20%);
						}
					}
				}
			}

			ul {
				margin: 8px 0 0;

				&.list {
					li {
						margin-left: 20px;
						list-style-type: disc;
					}
				}
			}

			table {
				&.actions-list {
					td, th {
						padding: 5px 5px 5px 0;
						text-align: left;
					}

					td {
						&.email {
							padding-right: 2em;
						}
						&.status {
							width: 100px;
						}
						&.actions {
							a {
								border-bottom: 1px solid;
								display: inline-block;
								margin-right: 5px;
								text-decoration: none;

								&[class*=delete],
								&[class*=error] {
									color: $red;

									&:hover, &:active, &:focus {
										color: darken( $red, 20 );
									}
								}
							}
						}
					}

				}
			}

			// Form elements.
			input[type=text],
			input[type=email],
			input[type=number],
			input[type=password],
			select {
				background-color: #fff;
				border: 1px solid #ddd;
				border-radius: 4px;
				box-shadow: none;
				color: #333;
				display: inline-block;
				vertical-align: middle;
				padding: 7px 12px;
				margin: 0 10px 0 0;
				width: 400px;
				min-height: 35px;
				line-height: 1.3;

				@include media("<desktop") {
					width: 300px;
				}

				&[readonly] {
					background-color: #f9f9f9;
				}

				&.small-text {
					width: 75px;
				}

				&:focus {
					border: 1px solid #016AAB;
					box-shadow: 0 0 0 1px #016AAB;
					outline: none;
				}

				&:disabled {
					opacity: 0.6;
				}
			}

			input[type=checkbox],
			input[type=radio] {
				&:focus {
					border: 1px solid #016AAB;
					box-shadow: 0 0 0 1px #016AAB;
					outline: none;
				}
			}

			// Animate dashicon yes icon when clicking on copy button.
			.dashicons-yes-alt {
				&.wp-mail-smtp-animate {
					-webkit-animation: wp-mail-smtp-fade-in-stop-out 1s linear;
					animation: wp-mail-smtp-fade-in-stop-out 1s linear;
				}

				&.wp-mail-smtp-success {
					color: #46b450;
				}
			}
		}

		// Row label (left).
		.wp-mail-smtp-setting-label {
			display: block;
			float: left;
			width: 205px;
			padding: 0 20px 0 0;

			@include media("<tablet") {
				float: none;
				width: 100%;
				padding-bottom: 15px;
			}

			label {
				display: block;
				font-weight: 600;
			}
		}

		// Row field (right).
		.wp-mail-smtp-setting-field {
			display: block;
			margin: 0 0 0 205px;
			max-width: 800px;

			@include media("<tablet") {
				margin: 0;
			}

			hr {
				margin: 20px 0;
			}

			.wp-mail-smtp-setting-field-row {
				display: flex;
				flex-wrap: wrap;

				& > .wp-mail-smtp-btn {
					margin-right: 10px;
				}
			}
		}

		.wp-mail-smtp-submit {
			margin: 0;
			padding: 25px 0;

			.help-text {
				margin-left: 10px;
				vertical-align: middle;
			}
		}

		// Mailer Options
		.wp-mail-smtp-mailer-options {
			.wp-mail-smtp-mailer-option {
				.wp-mail-smtp-setting-row.section-heading {
					padding: 20px 0 !important;
				}

				blockquote {
					background: #E5E5E5;
					border-radius: $border-radius;
					color: #666;
					font-size: 14px;
					margin: 20px 0;
					padding: 15px;
					width: 1005px;
				}
			}
		}

		// Misc.
		&.wp-mail-smtp-page-general p {
			// This will remove jumpiness.
			margin: 0;
		}

		.notice-inline {
			background: #fff;
			border-left: 4px solid #fff;
			box-shadow: 0 1px 1px 0 rgba( 0, 0, 0, 0.1 );
			margin: 5px 0 15px;
			padding: 1px 12px;

			&.notice-success {
				border-left-color: #46b450;
			}

			&.notice-warning {
				border-left-color: #ffb900;
			}

			&.notice-error {
				border-left-color: #dc3232;
			}

			&.notice-info {
				border-left-color: #00a0d2;
			}
		}

		.notice p,
		.notice-inline p {
			margin: 0.5em 0;
			padding: 2px;
		}

		pre {
			white-space: pre-line;
		}

		&.active {
			display: block;
		}

		.connected-as {
			margin-left: $padding-default;
		}

		#wp-mail-smtp-debug {
			margin-top: 25px;

			h2 {
				margin: 20px 0 10px;
				color: #444;
				font-size: 16px;
				line-height: 20px;
				font-weight: 700;
			}

			p {
				margin: 10px 0;
				color: #777;
				font-size: 14px;
				line-height: 20px;
			}

			ul {
				list-style-type: disc;
			}

			ul,
			ol {
				margin: 10px 0 10px 15px;
				color: #777;
				font-size: 14px;
				line-height: 20px;

				li {
					margin: 0 0 8px 0;

					&:last-of-type {
						margin: 0;
					}

					ul {
						list-style-type: disc;
					}
				}
			}

			.dashicons-star-filled {
				color: $orange;
				width: 16px;
				height: 16px;
				font-size: 16px;
				vertical-align: text-top;
			}

			.price-off {
				color: green;
				font-weight: bold;
			}

			.error-log-button-container {
				margin-bottom: 30px;
			}

			.error-log-toggle {
				float: left;
				margin-right: 10px;
			}

			.error-log-copy {
				min-width: 122px;

				.error-log-copy-back {
					display: none;
				}

			}

			.error-log-copy-copied {

				.error-log-copy-front {
					display: none;
				}

				.error-log-copy-back {
					display: inline;
				}
			}

			.error-log {
				padding-top: 10px;
				display: none;

				&.error-log-selection {
					display: block !important;
					opacity: 0;
					height: 0;
					padding: 0;
					margin: 0;
				}

				pre {
					margin: 0;
				}
			}
		}

		#wp-mail-smtp-pro-banner {
			background-color: #fff;
			padding: 25px 20px;
			border: 1px solid #dadada;
			margin: 10px 0 0 0;
			position: relative;

			.wp-mail-smtp-pro-banner-dismiss {
				position: absolute;
				right: 10px;
				top: 10px;

				button {
					background: none;
					border: none;
					color: $grey;
					cursor: pointer;
					margin: 0;
					padding: 0;
				}
			}

			h2 {
				color: #444;
				margin-top: 0;
				font-size: 16px;
				font-weight: 700;
			}

			p {
				font-size: 14px;
				color: #555;
				margin-bottom: 1.1em;

				&:last-of-type {
					margin: 0;
				}
			}

			.benefits {
				margin: 0 0 16px 0;
				overflow: auto;
				max-width: 1000px;

				ul {
					margin: 0;
					padding: 0;
					width: 50%;
					float: left;

					@include media("<=phone") {
						width: 100%;
						float: none;
					}

					li {
						margin: 0;
						padding: 0 0 2px 16px;
						color: #555;
						font-size: 14px;
						position: relative;

						&:before {
							content: '+';
							position: absolute;
							top: -1px;
							left: 0;
						}

						&.arrow-right:before {
							content: '→';
						}
					}
				}
			}

			a {
				color: $orange;

				&:hover, &:active, &:focus {
					color: $orange_dark;
				}
			}

			.stars {
				text-decoration: none;

				.dashicons {
					width: 16px;
					height: 16px;
					font-size: 16px;
					vertical-align: text-top;
				}
			}

			.price-off {
				color: green;
				font-weight: bold;
			}
		}
	}

	.wp-mail-smtp-admin-columns {

		& > div[class*="-column-"] {
			float: left;
		}

		.wp-mail-smtp-admin-column-20 {width: 20%}
		.wp-mail-smtp-admin-column-33 {width: 33.33333%}
		.wp-mail-smtp-admin-column-40 {width: 40%}
		.wp-mail-smtp-admin-column-50 {width: 50%}
		.wp-mail-smtp-admin-column-60 {width: 60%}
		.wp-mail-smtp-admin-column-80 {width: 80%}

		.wp-mail-smtp-admin-column-last {float: right !important}

		&:after {
			content: "";
			display: table;
			clear: both;
		}
	}

	.wp-mail-smtp-page-upsell {
		display: flex;
		align-items: center;
		justify-content: center;
		height: auto;
		flex-direction: column;

		& > * {
			width: 800px;
		}

		*, *::before, *::after {
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}

		h2 {
			font-size: 24px;
			color: #444444;
			text-align: center;
		}

		h3 {
			font-size: 16px;
			font-weight: normal;
			color: #72777C;
			line-height: 1.5em;
			margin-top: 0;
			margin-bottom: 6px;
			text-align: center;
		}

		.wp-mail-smtp-page-upsell-content {
			.wp-mail-smtp-page-upsell-features {
				margin-bottom: $content-padding * 2;

				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: flex-start;
				align-items: stretch;
				align-content: flex-start;

				.wp-mail-smtp-page-upsell-feature {
					display: flex;
					flex-direction: row;
					width: 360px;
					align-items: flex-start;
					align-content: flex-start;
					margin-right: $content-padding * 3;
					margin-top: $content-padding * 2;

					&:nth-of-type(1) {margin-top: $content-padding}
					&:nth-of-type(2) {margin-top: $content-padding}

					&:nth-of-type(even) {
						margin-right: 0;
					}

					.wp-mail-smtp-page-upsell-feature-image {
						display: flex;
						align-items: center;

						svg {
							height: 64px;
							width: 64px;
						}

						.st0 {
							fill: #C3D0D7;
						}

						.st1 {
							fill: #809DB0;
						}
					}

					.wp-mail-smtp-page-upsell-feature-content {
						margin-left: $content-padding;

						h4 {
							font-size: 15px;
							margin: 0 0 0.5em;
						}

						p {
							color: #72777C;
							margin: 0;
						}
					}
				}
			}
		}

		.wp-mail-smtp-page-upsell-images {
			margin-top: $content-padding;
			margin-bottom: $padding-default;
			text-align: center;

			img	{
				width: 380px;
				height: auto;
				margin-right: $padding-default;
				border: 5px solid #fff;
				border-radius: 5px;
				box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
				float: left;

				&:last-child {
					margin-right: 0;
				}
			}
		}

		.wp-mail-smtp-page-upsell-button {
			text-align: center;
		}
	}

	.wp-mail-smtp-page-nw-product-edu {
		h2 {
			display: inline-block;
			vertical-align: middle;
		}

		.badge {
			margin: 0 0 2px 7px;
			vertical-align: middle;
			width: 40px;
			height: 17px;
		}

		.wp-mail-smtp-setting-row-multisite {
			color: #9a9a9a;

			p.desc {
				color: #bababa;
			}

			input[type=checkbox]:disabled {
				border-color: #aaa;
			}
		}

		.wp-mail-smtp-setting-row-no-setting {
			margin-top: 30px;
		}
	}

	.notice blockquote {
		margin-left: 0;
		padding: 2px;

		pre {
			margin: 0;
		}
	}
}

// Buttons.
.wp-mail-smtp-btn {
	border: 0;
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	margin: 0;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	text-shadow: none;
	box-shadow: none;
	outline: none;

	.dashicons {
		font-size: 16px;
		width: 16px;
		height: 16px;
	}

	&:disabled {
		opacity: 0.5;
		cursor: not-allowed;
	}

	&.wp-mail-smtp-btn-md {
		font-size: 13px;
		font-weight: 600;
		padding: 8px 12px;
		min-height: 35px;
	}

	&.wp-mail-smtp-btn-lg {
		font-size: 16px;
		font-weight: 600;
		padding: 16px 28px;
	}

	&.wp-mail-smtp-btn-orange {
		background-color: $orange;
		border-color: $orange;
		color: #fff;

		&:hover,
		&:active,
		&:focus {
			background-color: $orange_dark;
			border-color: $orange_dark;
		}

		&:focus {
			box-shadow: 0 0 0 1px #fff, 0 0 0 3px $orange_dark;
		}
	}

	&.wp-mail-smtp-btn-red {
		background-color: #DC3232;
		border-color: #DC3232;
		color: #fff;

		&:hover,
		&:active,
		&:focus {
			background-color: darkred;
			border-color: darkred;
		}

		&:focus {
			box-shadow: 0 0 0 1px #fff, 0 0 0 3px darkred;
		}
	}

	&.wp-mail-smtp-btn-grey {
		background-color: #f5f5f5;
		border: 1px solid #ccc;
		color: #666;

		&:hover,
		&:active,
		&:focus {
			background-color: #d7d7d7;
			border-color: #ccc;
			color: #444;
		}
	}

	&.wp-mail-smtp-btn-light-grey {
		background-color: #f5f5f5;
		border: 1px solid #ccc;
		color: #666;

		&:hover,
		&:active,
		&:focus {
			background-color: #eee;
			color: #444;
		}
	}

	&.wp-mail-smtp-btn-blueish {
		background-color: #738e9e;
		border-color: #738e9e;
		color: #fff;

		&:hover,
		&:active,
		&:focus {
			background-color: #395360;
			border-color: #395360;
			color: #fff;
		}

		&:focus {
			box-shadow: 0 0 0 1px #fff, 0 0 0 3px #395360;
		}
	}
}

a.wp-mail-smtp-btn.wp-mail-smtp-btn-md {
	line-height: 19px;
}

// Domain Checker Results section on Email Test tab.
#wp-mail-smtp-domain-check-details {
	h2 {
		color: #444;
		font-size: 20px;
		line-height: 24px;
		font-weight: 700;
		margin: 28px 0 23px;
	}

	.wp-mail-smtp-domain-check-details-check-list {
		&-item {
			padding: 25px 0 14px;
			border-top: 1px solid #E4E4E4;
			display: flex;

			&-icon {
				width: 18px;
				height: 16px;
				margin-right: 10px;
			}

			&-content {
				h3 {
					text-transform: uppercase;
					font-weight: 500;
					font-size: 14px;
					line-height: 17px;
					color: #444444;
					margin: 0 0 4px 0;
				}

				p {
					color: #777777;
					font-size: 14px;
					line-height: 20px;
					margin: 0 0 10px 0;
				}
			}
		}
	}
}

// Email Test submit button loader.
.wp-mail-smtp-tab-test {
	#email-test-form {
		.wp-mail-smtp-btn {
			min-width: 95px;
		}

		.wp-mail-smtp-loading {
			display: none;
			margin-bottom: -2px;
		}
	}
}
